@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FAF9F6;
  --foreground: #171717;
  --primary: #59709C;
  --secondary: #8098C6;
  --light: #B3CDE0;
  --accent: #5C3F38;
  --customGray: #65737E;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground: #0a0a0a;
    --background: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  height: auto;
}

@layer components {
  .heroButton {
    @apply m-0 px-2 md:px-4 py-1 md:py-2 md:uppercase border border-[#65737E] rounded-full
    text-xs tracking-wider md:tracking-widest text-[#65737E] transition-all hover:border-black hover:text-black
  }

  .contactInput {
    @apply w-full max-w-[525px] outline-none bg-[#B3CDE0]/30 rounded-lg border px-6 py-4 border-primary
    text-black placeholder-customGray transition-all focus:border-secondary hover:border-secondary
  }
}